.additional {
  padding-top: 25px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 68px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 75px;
    padding-bottom: 89px;
  }
}

.additional__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.additional__list {
  margin-top: 36px;

  @media (min-width: @tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: @desktop-width) {
    width: 895px;
  }
}

.additional__title {
  position: relative;
  display: block;
  width: fit-content;
  margin-left: -20px;
  padding: 0 20px;
  background-color: @color-white;

  @media (min-width: @tablet-width) {
    padding: 4px 40px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }

  &::before {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-color: @color-green;
    width: 100vw;
    height: 2px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-color: @color-green;
    width: 100vw;
    height: 2px;
    z-index: -1;
  }
}
