.catalog {
  border-top: 1px solid @color-grey-900;
}

.catalog__list {
  padding-top: 41px;
}

.catalog__item {
  padding-top: 19px;
  padding-bottom: 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
