.example {
  background-color: @color-grey-100;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
    background-color: transparent;
    background-image: linear-gradient(to bottom, @color-white 50% ; @color-grey-100 50%);
  }
}

.example__desc {
  line-height: 18px;
  color: @color-dark;
  padding-top: 8px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 18px;
  }
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
    flex-wrap: wrap;
  }
}

.example__list {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.example__item {
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;

    &:not(:last-child) {
      margin-right: 42px;
    }
  }
}

.example__number {
  .oswald;
  color: @color-black;
  font-size: 24px;
  line-height: 24px;
  margin-top: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-top: 15px;
  }
}

.example__description {
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
  background-color: @color-grey-100;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
    width: fit-content;
    padding: 0 5px;
    background-color: @color-white;
  }
}

.example__text {
  .oswald;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.example__price {
  @media (min-width: @tablet-width) {
    margin-top: 9px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 63px;
  }
}

.example__slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__conteiner {
  width: 140px;
  height: 256px;
  position: absolute;
  top: 0;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.example__conteiner--before {
  left: 0;
}

.example__conteiner--after {
  right: 0;
}

.example__image {
  display: block;
  position: absolute;
  top: 0;

  &--before {
    left: 0;
  }

  &--after {
    right: 0;
  }

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__range-scale::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background-color: #666666;
  width: 4px;
  height: 100%;
  z-index: 1;
}

.example_range-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ; -50%);
  background-color: transparent;
  stroke: #666666;
  fill: #666666;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;

  &:hover {
    stroke: @color-green;
    fill: @color-green;
  }
}
