.form-program {
  padding-bottom: 32px;
  border-top: 1px solid @color-grey-900;
}

.form-program__desc {
  margin: 37px 0;
  .oswald;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-program__group {
  border: none;
  padding-bottom: 10px;
}

.form-program__subtitle{
  position: relative;
  .oswald;
  font-size: 24px;
  line-height: 26px;
  margin-top: 13px;
  margin-bottom: 34px;
}


.form-program__radio {
  border: 1px solid @color-grey-900;
  padding-top: 22px;
  padding-bottom: 19px;
}

.form-program__comment{
  padding: 14px;
  .oswald;
  font-size: 16px;
  line-height: 18px;
  color: @color-dark;
  text-transform: uppercase;
  width: 100%;
}

.form-program__buttom {
  margin-top: 24px;
  margin-bottom: 21px;
}

.form-program__legend {
  line-height: 16px;
  text-align: center;
}
