.gift {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 43px 58px;
  width: 280px;
  min-height: 290px;
  background:
    linear-gradient(rgba(104, 183, 56, 0.85) ; rgba(104, 183, 56, 0.85)),
    url("../../img/catalog/cat.jpg") center / cover no-repeat;

  @media (min-resolution: 2dppx) {
    background:
      linear-gradient(rgba(104, 183, 56, 0.85) ; rgba(104, 183, 56, 0.85)),
      url("../../img/catalog/cat@2x.jpg") center / cover no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: auto;
    flex-direction: row;
    justify-content: end;
    padding: 70px 125px;
    min-height: 200px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    background:
      linear-gradient(rgba(104, 183, 56, 0.85) ; rgba(104, 183, 56, 0.85)),
      url("../../img/catalog/cat-tablet.jpg") center / cover no-repeat;
  }

  @media (min-width: @desktop-width) {
    padding: 42px;
    width: 245px;
    min-height: 289px;
  }
}

.gift ::before {
  position: absolute;
  left: 50%;
  top: 59px;
  transform: translateX(-50%);
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../../img/catalog/gift.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 83px;
    top: 50%;
    left: 75px;
    transform: translate(0, -50%);
  }

  @media (min-width: @desktop-width) {
    margin: auto 0 0 0;
    text-align: center;
    left: 50%;
    top: 59px;
    transform: translate(-50%, 0);
  }
}


.gift__text {
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 161px;
    margin: auto 0;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin: auto 0 0 0;
    text-align: center;
  }
}
