.main-footer {
  background-color: @color-grey-200;
  padding: 40px 0;

  @media (min-width: @tablet-width) {
    padding: 50px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 66px 0;
  }
}

.main-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo {
  display: block;
  height: 100%;
  text-align: center;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 40px;
  }
}

.main-footer__partner-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 100%;
  .lato;
  color: @color-dark;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  &:hover .main-footer__icon,
  &:focus .main-footer__icon {
    fill: @color-grin;
  }

  &:active .main-footer__icon {
    fill: rgba(104, 183, 56, 0.3);
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-footer__icon {
  margin-left: auto;

  @media (min-width: @tablet-width) {
    margin: 23px;
  }
}

