.promo {
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 60% ; #ffffff 60%),
    url("../../img/index/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo__title {
  text-align: center;
}

.promo__desc {
  .oswald;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 29px;
  text-align: center;

  &--light {
    color: @color-white;
  }
}

.promo__link {
  margin-top: 4px;
  margin-bottom: 20px;
}
