.show-all {
  position: relative;
  padding-top: 78px;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-image: none;
    padding-top: 160px;
    background-color: transparent;
    border: 2px solid @color-grey-200;
    display: flex;
    align-items: end;
  }
}

.show-all::before {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  content: "";
  background: #d3d3d3 no-repeat center;

  @media (min-width: @tablet-width) {
    top: 51px;
    height: 60px;
  }
}

.show-all::after {
  position: absolute;
  top: 39px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  content: "";
  background: #d3d3d3 no-repeat center;

  @media (min-width: @tablet-width) {
    top: 81px;
    width: 60px;
  }
}

.show-all__button {
  @media (min-width: @tablet-width) {
    margin-top: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 88px;
  }
}
