@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff2") format(woff2), url("../../fonts/lato/Lato-Regular.woff") format(woff);
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff2") format(woff2), url("../../fonts/oswald/oswaldregular.woff") format(woff);
  font-display: swap;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  height: 100%;
  box-sizing: border-box;
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: inherit;
  margin: 0;
  padding: 0;
}
.button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  padding: 8px 20px;
  background-color: #68B738;
  border: none;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
}
.button:hover {
  background-color: #5EAA2F;
}
.button:focus {
  background-color: #5EAA2F;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.button--background {
  background-color: #f2f2f2;
  color: #000000;
}
.button--background:hover {
  background-color: #ebebeb;
}
.button--background:focus {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
  outline: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
}
.main-title--light {
  color: #ffffff;
}
.products__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
  padding-left: 30px;
}
.advantages__title,
.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}
.location_title,
.product-card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.form-program__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 26px;
}
.additional__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
}
.additional-card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.main-header {
  padding-top: 13px;
  padding-bottom: 15px;
}
.main-header__logo {
  position: relative;
  display: block;
  height: 100%;
  padding-right: 10px;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:focus {
  opacity: 0.6;
  outline: none;
}
.main-header__logo--transform {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-header__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../../img/toggle.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #E6E6E6;
}
.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:focus {
  opacity: 0.3;
  outline: none;
}
.promo {
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 60%, #ffffff 60%), url("../../img/index/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
.promo__title {
  text-align: center;
}
.promo__desc {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 29px;
  text-align: center;
}
.promo__desc--light {
  color: #ffffff;
}
.promo__link {
  margin-top: 4px;
  margin-bottom: 20px;
}
.products {
  position: relative;
  background-color: #f2f2f2;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;
}
.products::before {
  position: absolute;
  left: 20px;
  top: 24px;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68B738;
}
.products--slim::after {
  position: absolute;
  left: 27px;
  top: 21px;
  content: "";
  width: 36px;
  height: 50px;
  background-image: url("../../img/index/cat-slim.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.products--pro::after {
  position: absolute;
  left: 13px;
  top: 35px;
  content: "";
  width: 67px;
  height: 28px;
  background-image: url("../../img/index/cat-pro.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.products__desc {
  line-height: 18px;
  color: #444444;
  padding-bottom: 23px;
  border-bottom: 1px solid #D9D9D9;
}
.products__link {
  position: relative;
  display: block;
  width: 134px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 15px;
  padding: 4px 47px 4px 0;
}
.products__link::before {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-image: url("../../img/index/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 10px;
}
.advantages__list {
  margin-top: 2px;
  margin-bottom: 49px;
}
.advantages__item {
  position: relative;
  padding-left: 80px;
  line-height: 18px;
  color: #444444;
}
.advantages__item:not(:last-child) {
  margin-bottom: 26px;
}
.advantages__item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68B738;
}
.advantages__item--sheet::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/index/sheet.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.advantages__item--powder::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/index/powder.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.advantages__item--eat::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/index/eat.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.advantages__item--watch::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/index/watch.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}
.example__desc {
  line-height: 18px;
  color: #444444;
}
.example__list {
  margin: 20px 0;
}
.example__item {
  width: 124px;
}
.example__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
}
.example__description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
.example__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.example__slider {
  position: relative;
  width: 280px;
  height: 256px;
}
.example__image {
  display: block;
  position: absolute;
  background-color: #eaeaea;
}
.example__image--before {
  left: 0;
  top: 0;
}
.example__image--after {
  right: 0;
  top: 0;
}
.example__slider::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background-color: #666666;
  width: 4px;
  height: 100%;
  z-index: 1;
}
.range-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background-image: url("../../img/index/thumb.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 2;
}
.location__address {
  font-style: normal;
  line-height: 20px;
  color: #444444;
}
.location__iframe {
  width: 100%;
  min-height: 362px;
  border: none;
}
.location--background {
  background-color: #f2f2f2;
}
.main-footer {
  background-color: #f2f2f2;
  padding: 40px 0;
}
.main-footer__logo {
  display: block;
  height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.main-footer__logo:hover,
.main-footer__logo:focus {
  opacity: 0.8;
}
.main-footer__logo:active {
  opacity: 0.6;
}
.socials {
  padding: 20px 0;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
.socials__link {
  display: block;
  width: 28px;
  height: 100%;
}
.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #68B738;
}
.socials__link:active .socials__icon {
  fill: rgba(104, 183, 56, 0.3);
}
.main-footer__partner-logo {
  display: block;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.main-footer__partner-logo:hover .main-footer__icon,
.main-footer__partner-logo:focus .main-footer__icon {
  fill: #68B738;
}
.main-footer__partner-logo:active .main-footer__icon {
  fill: rgba(104, 183, 56, 0.3);
}
.form-program {
  padding-bottom: 32px;
  border-top: 1px solid #D9D9D9;
}
.form-program__desc {
  margin: 37px 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.form-program__group {
  border: none;
  padding-bottom: 10px;
}
.form-program__subtitle {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  margin-top: 13px;
  margin-bottom: 34px;
}
.form-program__radio {
  border: 1px solid #D9D9D9;
  padding-top: 22px;
  padding-bottom: 19px;
}
.form-program__comment {
  padding: 14px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  width: 100%;
}
.form-program__buttom {
  margin-top: 24px;
  margin-bottom: 21px;
}
.form-program__legend {
  line-height: 16px;
  text-align: center;
}
.personal-data {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 14px;
}
.personal-data__item {
  padding: 11px 40px 11px 15px;
  margin-left: auto;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.personal-data__item--email {
  background-image: url("../../img/form/email.svg");
  background-position: right 12px center;
  background-repeat: no-repeat;
}
.personal-data__item--phone {
  background-image: url("../../img/form/phone.svg");
  background-position: right 12px center;
  background-repeat: no-repeat;
}
.type-programm {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  padding-left: 45px;
}
.type-programm__radio {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
.type-programm__item[type="radio"]:checked + .type-programm__radio::before {
  display: block;
  width: 13px;
  height: 13px;
  margin: 8.5px auto;
  background-color: #68B738;
  border-radius: 50%;
  content: "";
}
.type-programm__checkbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border: 1px solid #cdcdcd;
  margin-left: 2px;
}
.type-programm__item[type="checkbox"]:checked + .type-programm__checkbox::before {
  display: block;
  width: 26px;
  height: 26px;
  content: "";
  background-image: url("../../img/form/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.catalog {
  border-top: 1px solid #D9D9D9;
}
.catalog__list {
  padding-top: 41px;
}
.catalog__item {
  padding-top: 19px;
  padding-bottom: 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.product-card__sign,
.product-card__meaning,
.product-card__desc {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.product-card__desc {
  margin-top: 8px;
  margin-bottom: 21px;
}
.additional {
  padding-top: 25px;
  padding-bottom: 35px;
}
.additional__list {
  margin-top: 36px;
}
.additional-card {
  padding-top: 13px;
  padding-bottom: 19px;
  border: 1px solid #cdcdcd;
}
.additional-card__sign,
.additional-card__meaning {
  line-height: 14px;
  color: #444444;
}
.gift {
  position: relative;
  padding: 43px;
  width: 280px;
  min-height: 290px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/catalog/cat.jpg") no-repeat;
}
.gift::before {
  position: absolute;
  left: 50%;
  top: 59px;
  transform: translateX(-50%);
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../../img/catalog/gift.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.show-all {
  position: relative;
  padding-top: 78px;
  text-align: center;
}
.show-all::before {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  content: "";
  background: #d3d3d3 no-repeat center;
}
.show-all::after {
  position: absolute;
  top: 39px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  content: "";
  background: #d3d3d3 no-repeat center;
}
/*# sourceMappingURL=style.css.map */
