.main-title {
  .oswald ;
  color: @color-black;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;

  &--light {
    color: @color-white;
  }

  @media (min-width: @tablet-width) {
    color: @color-black;
    font-size: 60px;
    line-height: 60px;
  }
}

.products__title {
  .oswald ;
  color: @color-black;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 29px;
  margin-left: 70px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 73px;
    padding-left: 161px;
  }
}

.advantages__title,
.example__title {
  .oswald ;
  color: @color-black;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.location_title,
.product-card__title {
  .oswald ;
  color: @color-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.form-program__subtitle {
  .oswald ;
  color: @color-black;
  font-size: 24px;
  line-height: 26px;
}

.additional__title {
  .oswald ;
  color: @color-black;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-card__title {
  .oswald ;
  color: @color-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
