// Цвета
@color-white: #ffffff;
@color-black: #000000;
@color-grin:#68B738;
@color-grey-200:#F2F2F2;
@color-grey-600:#E6E6E6;

//Шрифты
.lato() {
  font-family:"Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: @color-black;
}
.oswald() {
  font-family: "Oswald",  sans-serif;
  font-style: normal;
  font-weight: 400;
  color: @color-black;
}
